---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Dylan Reed | About'>
  <main class='min-h-screen'>
    <div class='flex flex-col my-6 gap-4'>
      <a
        href='/'
        class='px-8 py-2 bg-dark-400 rounded-full border-[0.5px] border-dark-300 text-sm w-fit'
      >
        <span>&larr;</span>
        Back</a
      >
      <h1 class='text-4xl font-semibold'>About</h1>
    </div>
    <article class='flex flex-col gap-4 text-sm'>
      <p>
        A highly motivated and adaptable software engineer with experience in
        developing and implementing software solutions for various
        organizations. I have a passion for using technology to create
        innovative and impactful products that improve people's lives. My
        expertise in a variety of programming languages, software development
        methodologies, and experience in full software development lifecycle
        have enabled me to deliver high-quality software solutions.
      </p>
      <p>
        At GrownBy, I worked as a contracted software engineer and made a
        significant impact by rebuilding the product creation for farmers with
        improved UI/UX, increasing their efficiency by 52%. I was fully involved
        in the new product version lifecycle and provided both new features and
        QA along with the team.
      </p>
      <p>
        As an intern at Crescendo, I developed an internal CMS that
        significantly increased the productivity of the content team. I used
        agile methodologies and participated in SCRUM, daily sprints, and sprint
        review meetings to manage the project. I also chose the tech stack of
        Next.js with TypeScript, Node.js, REST JSON Express Server, and React
        Query for the project.
      </p>
      <p>
        At Splice Digital, I gained experience in scaffolding Laravel projects
        and tested and created a CLI to manage documents through Airtable and
        Google Sheets asynchronously. I am always looking to continuously learn
        new technologies and improve my skills to build better and more
        efficient software solutions.
      </p>
      <p>
        I am confident that my passion for technology, experience, and ability
        to quickly learn new technologies make me a valuable asset to any
        software engineering team.
      </p>
    </article>
  </main>
</Layout>
