---
export interface Props {
  title: string;
  description: string;
  tags: string[];
  url: string;
}

const { url, title, description, tags } = Astro.props;
---

<li
  class='border-[0.5px] border-transparent rounded-xl p-4 transition-all ease-in-out duration-500 hover:border-dark-200 hover:scale-[1.02] hover:bg-dark-400 relative'
>
  <div class='w-[1.5px] rounded-full h-full absolute bg-dark-200 -left-4 top-0'>
  </div>
  <a href={url} target='_blank'>
    <h2 class='text-2xl font-semibold mb-1'>
      {title}
    </h2>
    <p class='text-sm truncate'>
      {description}
    </p>
    <ul class='flex gap-2'>
      {
        tags.map((tag) => (
          <li class='px-2 py-1 mt-2 text-xs bg-dark-400 text-dark-200 max-w-fit rounded-full'>
            {tag}
          </li>
        ))
      }
    </ul>
    <p
      class='px-4 py-1 mt-4 text-sm bg-dark-400 text-dark-200 max-w-fit rounded-full'
    >
      View
      <span>&rarr;</span>
    </p>
  </a>
</li>
