---
export interface Props {
  title: string;
  description: string;
  tags: string[];
  url: string;
  wip?: boolean;
}

const {url, title, description, tags, wip} = Astro.props;

// random scale between 1 and 1.3
const scale = Math.random() * 0.3 + 1;
---

<li
  class='rounded-xl p-4 transition-all bg-stone-950 text-white ease-in-out duration-100 hover:bg-stone-200/10 backdrop-blur-md relative overflow-hidden border-[0.5px] border-stone-400/25 flex flex-col justify-between cursor-pointer'
>
  <div class='z-50'>
    <div class='flex items-center gap-2'>
      <h2 class='text-3xl font-semibold mb-1'>
        {title}
      </h2>
      {
        wip && (
          <p class='px-4 py-1 text-xs bg-light-500 text-dark-100 border-stone-400/25 border-[0.5px] rounded-full '>
            WIP
          </p>
        )
      }
    </div>
    <p class='text-sm text-stone-400'>
      {description}
    </p>
    <ul class='flex gap-2 flex-wrap'>
      {
        tags.map((tag) => (
          <li class='px-2 py-1 mt-2 text-xs bg-transparent text-stone-400 border-stone-600/25 border-[0.5px] max-w-fit rounded-full text-nowrap'>
            {tag}
          </li>
        ))
      }
    </ul>
  </div>

  <a href={url} class='z-50' target='_blank'>
    <p
      class='px-4 py-1 mt-4 text-sm bg-light-500 text-dark-100 border-stone-400/25 border-[0.5px] max-w-fit rounded-full relative overflow-hidden hover:scale-105 hover:bg-stone-400/10 backdrop-blur-md duration-100'
    >
      View
      <span>&rarr;</span>
    </p>
  </a>
</li>
