---
export interface Props {
  title: string;
  description: string;
  tags: string[];
  url: string;
}

const {url, title, description, tags} = Astro.props;

// random scale between 1 and 1.3
const scale = Math.random() * 0.3 + 1;
console.log(scale);
---

<li
  class='rounded-xl p-4 transition-all bg-light-500 text-dark-500 ease-in-out duration-500 hover:bg-light-400/10 backdrop-blur-md relative overflow-hidden border-[0.5px] border-light-400/25 flex flex-col justify-between'
>
  <div class='z-50'>
    <h2 class='text-3xl font-semibold mb-1'>
      {title}
    </h2>
    <p class='text-sm text-dark-100'>
      {description}
    </p>
    <ul class='flex gap-2'>
      {
        tags.map((tag) => (
          <li class='px-2 py-1 mt-2 text-xs bg-light-500 text-dark-100 border-light-400/25 border-[0.5px] max-w-fit rounded-full'>
            {tag}
          </li>
        ))
      }
    </ul>
  </div>

  <a href={url} class='z-50' target='_blank'>
    <p
      class='px-4 py-1 mt-4 text-sm bg-light-500 text-dark-100 border-light-400/25 border-[0.5px] max-w-fit rounded-full relative overflow-hidden hover:scale-105 hover:bg-light-400/10 backdrop-blur-md duration-200'
    >
      View
      <span>&rarr;</span>
    </p>
  </a>
</li>
