---
export interface Props {
  title: string;
}

const {title} = Astro.props;
---

<h2
  class='py-2 px-6 border-stone-400/25 border-[0.5px] max-w-fit rounded-full text-stone-400 font-semibold my-4 cursor-default'
>
  {title}
</h2>
