---
export interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <!-- destription -->
    <meta
      name='description'
      content='Dylan Reed | Creative - Software Engineer'
    />

    <script src='https://unpkg.com/@phosphor-icons/web' defer></script>

    <title>{title}</title>
  </head>

  <body
    class='max-w-4xl mx-auto px-4 min-h-screen flex flex-col justify-between relative z-10'
  >
    <slot />
  </body>

  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      @apply bg-black text-white bg-no-repeat bg-cover relative;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</html>
