@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply border-t-primary-500;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  transition: 500ms ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.cover {
  transition: 500ms ease;
  transform-style: preserve-3d;
  will-change: transform;
  z-index: 1;
}

.header {
  transition: 500ms ease;
  transform-style: preserve-3d;
  will-change: transform;
  z-index: 2;
}

.card:hover {
  transform: scale(1.01);
}
.card:hover .bottom {
  transform: translateZ(12px);
}
.card:hover .header {
  @apply scale-[1.01];
}

@media (prefers-reduced-motion) {
  .card {
    transform: none !important;
  }
}
